.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~

*.swp
*.swo
*.tmp
*.bak

.idea/
*.iml
*.ipr
*.iws

.vscode/

target/
.trae/

node_modules/
pnpm-lock.yaml
dist/
*.tsbuildinfo

Cargo.lock
.munnai/
